* {
  padding: 0px;
  box-sizing: border-box;
}

.wrapper-div {
  width: 80%;
  min-height: 100px;
  background-color: lightgray;
  margin: auto;
}

.logo-div {
  width: 100%;
  min-height: 50px;
  background-color: lightblue;
  padding-left: 2%;
  line-height: 50px;
}

.main-div {
  min-height: 100px;
  background-color: lightcoral;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-div {
  width: 20px;
}

.main-notes-div {
  min-height: 100px;
  background-color: lightcyan;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
